* {
    margin: 0;
    padding: 0;
}

#banner {
    background: black;
    width: 100%;
    text-align: center;
}
#banner p {
    color: whitesmoke;
}

nav {
    background: beige;
    display: grid;
    width: 100%;
    height: 80px;
    grid-template: 100% / repeat(3, 1fr);
}

#logoContainer {
    display: flex;
}

#logo {
    margin: auto;
    margin-left: 20px;
}

ul {
    display: flex;
}

li {
    display: inline-flex;
    align-items: center;
    padding: 0 40px;
    font-family: 'Merriweather', serif;
}

#navSearchColumn {
    display: flex;
}

#searchContainer {
    margin: auto;
    background-color: whitesmoke;
    float: right;
    margin-right: 30px;
    border-radius: 15px;
    border:  2px solid #ccc;
}

input {
    height: 26px;
    width: 60px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding: 0 8px;
    transition: .2s;
    box-sizing: border-box;
    background-color: whitesmoke;
}

input:focus {
    width: 250px;
    transition: .2s;
    box-sizing: border-box;
}

span {
    background: none;
    float: right;
    fill: #ccc;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
    margin-right: 5px;
}
#beautyShotContainer {
    position: relative;
}

#beautyShot {
    width: 100%;
}

#beautyShotContainer p {
    font-size: 30px;
    position: absolute;
    top: 100px;
    left: 30px;
    color: whitesmoke;
    z-index: 1;
}
